@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-xs: 30rem;

  --animate-enter: 0.3s ease-out;

  --animate-leave: 0.2s ease-in forwards;

  @keyframes enter {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes leave {
    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }
}

@layer base {
  body {
    @apply font-poppins bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  }

  * {
    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }
}

@utility nav-link {
  &.active {
    @apply bg-linear-to-r from-emerald-500 to-emerald-100 text-white md:hover:text-white dark:from-emerald-600 dark:to-slate-700;
  }
}

@utility mobile-nav-link {
  &.active {
    @apply text-emerald-500;

    & .circle {
      @apply block;
    }
  }
}

@utility mobile-nav-link--dashboard {
  &.active {
    @apply outline outline-emerald-200 dark:outline-emerald-800/50;
  }
}

@utility header__add-btn {
  &.active {
    @apply bg-emerald-500 text-white md:hover:bg-emerald-500 md:hover:text-white dark:md:hover:bg-emerald-500 dark:md:hover:text-white;
  }
}

@utility modal--close {
  @apply pointer-events-none opacity-0;
}

@utility modal--open {
  @apply pointer-events-auto opacity-100;
}
